<launch>
  <arg name="model" />
  <arg name="gui" default="false" />
  <arg name="use_present" default="true"/>
<param name="robot_description" command="cat $(find thormang_biped)/robots/thormang_biped.URDF" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="/joint_states" to="/thormang/joint_states"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find thormang_biped)/urdf.rviz" />

</launch>
