<launch>
  <include file="$(find imu_3dm_gx4)/launch/imu.launch" />
  <node name="rt_dynamixel" pkg="rt_dynamixel" type="rt_dynamixel_node" respawn="false" output="screen" />
  <node name="ft_sensor" pkg="sensoray826" type="ati_ft_sensor_node" respawn="false" output="log" />
  <node name="smach" pkg="smach_usecase" type="executive.py" respawn="false" output="screen" />
  <node name="thormang_ctrl" pkg="thormang_ctrl" type="thormang_ctrl" respawn="false" output="screen">
		<param name="mode" type="string" value="real" />
	</node>
</launch>
